{% extends 'base.html' %}
{% load static %}

    {% block content %}
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <section class="admin-content">
                <div class=" bg-dark m-b-30 bg-stars">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 m-auto text-white p-t-40 p-b-90">
                                {% for message in messages %}
                                    <div class="alert alert-border-info  alert-dismissible fade show" role="alert">
                                        <div class="d-flex">
                                            <div class="icon">
                                                <i class="icon mdi mdi-alert-octagram"></i>
                                            </div>
                                            <div class="content text-dark">
                                                {{message}}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <h1><span class="js-greeting"></span>, {{ user }} </h1>
                                <h6>Kindly, Register a boda here for better payment tracking.</h6>
                                <p class="opacity-75">
                                    Add Boda Boda page <br>
                                </p>

                            </div>
                            <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container pull-up">

                    <!-- // Normal content -->
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card m-b-30">
                                        <div class="card-header">
                                            <h5 class="m-b-0">
                                                Applicant personal details
                                            </h5>
                                            <p class="m-b-0 text-muted">
                                                Standard form
                                            </p>
                                        </div>
                                        <div class="card-body ">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">First Name *</label>
                                                    <input type="text" class="form-control" name="boda_first_name" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Last Name *</label>
                                                    <input type="text" class="form-control" name="boda_last_name" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Number Plate *</label>
                                                    <input type="text" class="form-control" name="boda_number_plate" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Boda Amount *</label>
                                                    <input type="text" class="form-control" name="boda_amount" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Boda Weekly Pay *</label>
                                                    <input type="text" class="form-control" name="boda_weekly_pay" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Applicant Phone Number *</label>
                                                    <input type="text" class="form-control" name="boda_phone_number" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Applicant Nin Number *</label>
                                                    <input type="text" class="form-control" name="boda_nin_number" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Applicant ID Picture *</label>
                                                    <input type="file" class="form-control" name="boda_nin_picture">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Applicant Work Stage *</label>
                                                    <input type="text" class="form-control" name="boda_work_stage">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- first guarantor -->
                                <div class="col-lg-6">
                                    <div class="card m-b-30">
                                        <div class="card-header">
                                            <h5 class="m-b-0">
                                                First Guarantor Details
                                            </h5>
                                            <p class="m-b-0 text-muted">
                                                Standard form
                                            </p>
                                        </div>
                                        <div class="card-body ">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">1st Guarantor Full Name *</label>
                                                        <input type="text" class="form-control" name="gua1_name" required placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">1st Guarantor Stage Name *</label>
                                                        <input type="text" class="form-control" name="gua1_stage_name">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">1st Guarantor Phone Number *</label>
                                                        <input type="text" class="form-control" name="gua1_phone_number" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">1st Guarantor Nin Number *</label>
                                                        <input type="text" class="form-control" name="gua1_nin_number" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">1st Guarantor Phone Number *</label>
                                                        <input type="file" class="form-control" name="gua1_nin_picture">
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- second guarantore -->
                                <div class="col-lg-6">
                                    <div class="card m-b-30">
                                        <div class="card-header">
                                            <h5 class="m-b-0">
                                                Second Guarantor Details
                                            </h5>
                                            <p class="m-b-0 text-muted">
                                                Standard form
                                            </p>
                                        </div>
                                        <div class="card-body ">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">2nd Guarantor Full Name *</label>
                                                        <input type="text" class="form-control" name="gua2_name" required placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">2nd Guarantor Stage Name *</label>
                                                        <input type="text" class="form-control" name="gua2_stage_name">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">2nd Guarantor Phone Number *</label>
                                                        <input type="text" class="form-control" name="gua2_phone_number" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">2nd Guarantor Nin Number *</label>
                                                        <input type="text" class="form-control" name="gua2_nin_number" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">2nd Guarantor Nin Picture*</label>
                                                        <input type="file" class="form-control" name="gua2_nin_picture">
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- third -->
                                <div class="col-lg-6">
                                    <div class="card m-b-30">
                                        <div class="card-header">
                                            <h5 class="m-b-0">
                                                Third Guarantor Details
                                            </h5>
                                            <p class="m-b-0 text-muted">
                                                Standard form
                                            </p>
                                        </div>
                                        <div class="card-body ">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">3rd Guarantor Full Name *</label>
                                                        <input type="text" class="form-control" name="gua3_name" required placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">3rd Guarantor Stage Name *</label>
                                                        <input type="text" class="form-control" name="gua3_stage_name">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">3rd Guarantor Phone Number *</label>
                                                        <input type="text" class="form-control" name="gua3_phone_number" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">3rd Guarantor Nin Number *</label>
                                                        <input type="text" class="form-control" name="gua3_nin_number" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">3rd Guarantor Nin Picture *</label>
                                                        <input type="file" class="form-control" name="gua3_nin_picture">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label for="inputPassword4">Date of Application *</label>
                                                        <input type="text" class="form-control date_of_application" name="date_of_application">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <button class="btn btn-primary form-control" style="background-color: #687ae8;">Submit Applicant</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                </div>

            </section>

            <script>
                
                document.addEventListener("DOMContentLoaded", function () {
                    flatpickr(".date_of_application", {
                        enableTime: true,
                        dateFormat: "M. j, Y, h:i K",
                        defaultDate: new Date()
                    });
                });
            </script>
    
    {% endblock %}