{% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <center>
    <div>
        <h3>Applicant Details Page</h3>
    </div>
        <div>
            <label>first name:</label>
            <h6>{{boda_obj.boda_guy_firstName}}</h6>

            <label>last name:</label>
            <h6>{{boda_obj.boda_guy_lastName}}</h6>

            <label>Number Plate: </label>
            <h6>{{boda_obj.boda_numberPlate}}</h6>

            <label>National ID:</label>
            <h6>{{boda_obj.nin_number}}</h6>

            <label>Telephone:</label>
            <h6>{{boda_obj.phone_number}}</h6>

            <label>Date of Issue:</label>
            <h6>{{boda_obj.date_of_application}}</h6>
            <label>Work Stage:</label>
            <h6>{{boda_obj.work_stage}}</h6>
            {% if boda_obj.nin_picture %}
            <label>Picture ID:</label><br>
            <a href='{{boda_obj.nin_picture.url}}' target='_blank'><img src="{{ boda_obj.nin_picture.url }}" width="200px" height="200px" alt="picture id"><a><br>
            {% endif %}
            <br>
            <br><br>
            <h2>1st GUARANTOR DETAILS</h2>
            <label>first guarrante full names:</label>
            <h6>{{boda_obj.guarantor1_name}}</h6>

            <label>first guarrante national ID:</label>
            <h6>{{boda_obj.guarantor1_nin}}</h6>

            <label>first guarrante telephone:</label>
            <h6>{{boda_obj.guarantor1_number}}</h6>
            {% if boda_obj.guarantor1_nin_picture %}
            <label>first guarrante ID picture:</label><br>
            <a href='{{boda_obj.guarantor1_nin_picture.url}}' target='_blank'><img src="{{ boda_obj.guarantor1_nin_picture.url }}" width="200px" height="200px" alt="picture id"><br>
            {% endif %}
            <br>
            <br><br>
            <h2>2nd GUARANTOR DETAILS</h2>
            <label>Second guarrante full names:</label>
            <h6>{{boda_obj.guarantor2_name}}</h6>

            <label>Second guarrante national ID:</label>
            <h6>{{boda_obj.guarantor2_nin}}</h6>

            <label>Second guarrante telephone:</label>
            <h6>{{boda_obj.guarantor1_number}}</h6>
            {% if boda_obj.guarantor2_nin_picture %}
            <label>Second guarrante ID picture:</label><br>
            <a href='{{boda_obj.guarantor2_nin_picture.url}}' target='_blank'><img src="{{ boda_obj.guarantor2_nin_picture.url }}" width="200px" height="200px" alt="picture id"><br>
            {% endif %}
            <br>
            <br><br>
            <h2>3rd GUARANTOR DETAILS</h2>
            <label>Third guarrante full names:</label>
            <h6>{{boda_obj.guarantor3_name}}</h6>

            <label>Third guarrante national ID:</label>
            <h6>{{boda_obj.guarantor3_nin}}</h6>

            <label>Third guarrante telephone:</label>
            <h6>{{boda_obj.guarantor3_number}}</h6>
            {% if boda_obj.guarantor3_nin_picture %}
            <label>Third guarrante ID picture:</label><br>
            <a href='{{boda_obj.guarantor3_nin_picture.url}}' target='_blank'><img src="{{ boda_obj.guarantor3_nin_picture.url }}" width="200px" height="200px" alt="picture id"><br>
            {% endif %}    
        </div>
    </center>
    <div class="container pull-up">
            <div class="col-lg-12 p-t-90 p-b-20">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="home-tab">
                    
                        <div class="col-md-12 m-b-30">
                            <h5>{{boda_obj.boda_guy_firstName}} {{boda_obj.boda_guy_lastName}} Weekly Logs</h5>
                            <div class="table-responsive">
                                <table class="table align-td-middle table-card table-striped">
                                    <thead>
                                    <tr>
                                        <th>PAYMENT FEE</th>
                                        <th>DATE OF PAYMENT</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% if bodaPaymentObj %}
                                        {% for bd in bodaPaymentObj %}
                                            <tr>
                                                <td>{{bd.payment_fee}}</td>
                                                <td>{{bd.date}}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>No payment record yet!</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

    {% endblock %}