{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <section class="admin-content">
        <div class=" bg-dark m-b-30 bg-stars">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 m-auto text-white p-t-40 p-b-90">

                        <h1>Clients' Complaints</h1>
                        <p class="opacity-75">
                            Support and Help
                        </p>

                    </div>
                    <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="container pull-up">
            <div class="row">

                <!-- Content goes here -->
                <div class="col-lg-8">
                    <nav class="nav nav-pills nav-justified m-b-80">
                    <a class="nav-item nav-link text-white active" href="{% url 'loan:dashboard' %}">Money Access Uganda</a>
                    </nav>
                </div>
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                            <div class="col-md-12 m-b-30">
                                <h5>Issues</h5>
                                <div class="table-responsive">
                                    <table class="table align-td-middle table-card table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Question</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if errors %}
                                            {% for issue in errors %}
                                                    <tr>
                                                        <td>
                                                            {{issue.user}}
                                                        </td>
                                                        <td>{{issue.email}}</td>
                                                        <td><button class='btn btn-primary'><a href="/loan/view_reply/{{issue.id}}">Check</a></button></td>
                                                        
                                                    </tr>
                                            {% endfor %}
                                        {% else %}
                                                <tr>
                                                    <td><h6>No record in DB</h6></td>
                                                </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                                        
                    </div>
        </div>

    </section>
    {% endblock %}