{% extends 'base.html' %}
{% load static %}

    {% block content %}

        <section class="admin-content">
                <div class=" bg-dark m-b-30 bg-stars">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 m-auto text-white p-t-40 p-b-90">
                                {% for message in messages %}
                                    <div class="alert alert-border-info  alert-dismissible fade show" role="alert">
                                        <div class="d-flex">
                                            <div class="icon">
                                                <i class="icon mdi mdi-alert-octagram"></i>
                                            </div>
                                            <div class="content text-dark">
                                                {{message}}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <h1><span class="js-greeting"></span>, {{ user }} </h1>
                                <p class="opacity-75">
                                    ADD BODA BODA ADVANCED INFORMATION<br>
                                </p>

                            </div>
                            <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container pull-up">

                    <!-- // Normal content -->
                   
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card m-b-30">
                                    <div class="card-header">
                                        <h5 class="m-b-0">
                                            EDIT {{bodaInfo.numberPlate}} BODA BODA ADVANCED INFORMATION
                                        </h5>
                                        <p class="m-b-0 text-muted">
                                            Standard form
                                        </p>
                                    </div>
                                    <div class="card-body ">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="dropdown">BodaBoda *</label>
                                                    <select class="form-control dropdown" id="BodaDropdown" name="BodaBoda" required>
                                                        <option value="">Search Boda Boda</option>
                                                        {% for boda in all_bodas %}
                                                            <option value="{{boda.boda_numberPlate}}" {% if bodaInfo.numberPlate == boda.boda_numberPlate %} selected {% endif %} >{{boda.boda_guy_firstName}} {{boda.boda_guy_lastName}} ({{boda.boda_numberPlate}})</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Current Boda Rider *</label>
                                                    <input type="text" class="form-control" name="rider" value="{{bodaInfo.rider}}" required>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Amount Bought *</label>
                                                    <input type="number" class="form-control" name="amountBought" value="{{bodaInfo.amountBought}}" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Where Bought *</label>
                                                    <input type="text" class="form-control" name="whereBought" value="{{bodaInfo.whereBought}}" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Log Book Names *</label>
                                                    <input type="text" class="form-control" name="LogBookNames" value="{{bodaInfo.LogBookNames}}" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Demanded Amount *</label>
                                                    <input type="number" class="form-control" name="demandedAmount" value="{{bodaInfo.demandedAmount}}" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="dropdown">Is it completed ?</label>
                                                    <select class="form-control dropdown" id="dropdown" name="isCompleted">
                                                        <option value="False" {% if not bodaInfo.isCompleted %}selected{% endif %}>False</option>
                                                        <option value="True" {% if bodaInfo.isCompleted %}selected{% endif %}>True</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>

            </section>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script>
                $('#dropdown').select2();
                $('#BodaDropdown').select2();
            </script>
    {% endblock %}