{% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <center>
    <div>
        <h3>Permit Individual File Details</h3>
    </div>
        {% if files %}
            {% for fl in files %}
                <div>
                    <label>Permit ID:</label>
                    <h6>{{fl.permit_id}}</h6>

                    <label>Document Name:</label>
                    <h6>{{fl.message}}</h6>
        
                    <label>Document Picture:</label><br>
                    <a href='{{fl.uploaded_file.url}}' target='_blank'><img src="{{fl.uploaded_file.url}}" width="300px" height="300px" alt="picture"><a><br>
                    
                    <label>Uploaded Date:</label>
                    <h6>{{fl.date}}</h6>

                    <label>Admin's Username:</label>
                    <h6>{{fl.admin}}</h6>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            {% endfor %}
        {% else %}
                <h4>No Files Yet</h4>
        {% endif %}
    </center>

    <div class="container pull-up">
        <div class="col-lg-12 p-t-90 p-b-20">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="home-tab">
                
                    <div class="col-md-12 m-b-30">
                        <h5>{{permitObj.first_name}} {{permitObj.last_name}} Weekly Logs</h5>
                        <div class="table-responsive">
                            <table class="table align-td-middle table-card table-striped">
                                <thead>
                                <tr>
                                    <th>PAYMENT FEE</th>
                                    <th>DATE OF PAYMENT</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if permit_payments %}
                                    {% for pr in permit_payments %}
                                        <tr>
                                            <td>{{pr.payment_fee}}</td>
                                            <td>{{pr.date}}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>No payment record yet!</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

    {% endblock %}