{% extends 'base.html' %}
{% load static %}


    {% block content %}
    
        <section class="admin-content">
                <div class=" bg-dark m-b-30 bg-stars">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 m-auto text-white p-t-40 p-b-90">
                                {% for message in messages %}
                                <div class="alert alert-border-info  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-alert-octagram"></i>
                                        </div>
                                        <div class="content text-dark">
                                            {{message}}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                                <h1>Manage Permit Applications</h1>
                                <p class="opacity-75">
                                    Review permit applications
                                </p>
                                <p class="opacity-75">
                                    You can Easily Search for a Client by entering either first name or last name or phone number or permit id!
                                </p>
                                <form action="{% url 'loan:search-client' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group col-md-7">
                                        <label for="inputPassword4">Search Client:</label>
                                        <input type="text" class="form-control" name="client_search" required placeholder="first name or last name or phonenumber or permit id">
                                        <small class="text-muted">Search Clients Details</small>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary">Search Client</button>
                                    </div>
                                </form>  
                                <h3 class="opacity-75">
                                    Total clients are {{all_permits_count}}
                                <h3>
                                    

                            </div>
                            <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container pull-up">
                    <div class="row">

                        <!-- Content goes here -->
                        <div class="col-lg-8">
                            <nav class="nav nav-pills nav-justified m-b-80">
                            <a class="nav-item nav-link text-white active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Completed Permits ({{ done }})</a>
                            <a class="nav-item nav-link text-white" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">IN PROCESS Permits ({{ in_process }})</a>
                            
                        </nav>
                        </div>
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                    <div class="col-md-12 m-b-30">
                                        <h5>Completed Permits</h5>
                                        <div class="table-responsive">
                                            <table class="table align-td-middle table-card table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Permit ID</th>
                                                    <th>first name</th>
                                                    <th>last name</th>
                                                    <th>telephone</th>
                                                    <th>Service</th>
                                                    <th>Full amount</th>
                                                    <th>Deposits</th>
                                                    <th>Balance</th>
                                                    <th>Date Modified</th>
                                                    <th>Files</th>
                                                </tr>
                                                </thead>
                                              
                                                <tbody>
                                                {% if request.user.username == "george@accessm.com" %}
                                                    {% for pr in admin_permit %}
                                                        {% if pr.status == 'finished' %}
                                                        
                                                            <tr>
                                                                <td>
                                                                    {{pr.permit_id}}
                                                                </td>
                                                                <td>{{pr.first_name}}</td>
                                                                <td>{{pr.last_name}}</td>
                                                                <td>{{pr.phone_number}}</td>
                                                                <td>{{pr.message}}</td>
                                                                <td>{{pr.final_amount}}</td>
                                                                <td>{{pr.deposits}}</td>
                                                                <td>{{pr.balance}}</td>
                                                                <td>{{pr.date_modified}}</td>
                                                                <td>
                                                                    <a class='btn hvr-hover' href="{% url 'loan:file-details' pr.permit_id %}">Check</a>
                                                                
                                                                </td>
                                                                
                                                            </tr>
                                                        
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif request.user.username != "george@accessm.com" %}
                                                {% for pr in permits %}
                                                        {% if pr.status == 'finished' %}
                                                        
                                                            <tr>
                                                                <td>
                                                                    {{pr.permit_id}}
                                                                </td>
                                                                <td>{{pr.first_name}}</td>
                                                                <td>{{pr.last_name}}</td>
                                                                <td>{{pr.phone_number}}</td>
                                                                <td>{{pr.message}}</td>
                                                                <td>{{pr.final_amount}}</td>
                                                                <td>{{pr.deposits}}</td>
                                                                <td>{{pr.balance}}</td>
                                                                <td>{{pr.date_modified}}</td>
                                                                <td>
                                                                    <a class='btn hvr-hover' href="{% url 'loan:file-details' pr.permit_id %}">Check</a>
                                                                
                                                                </td>
                                                                
                                                            </tr>
                                                        
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                        <tr>
                                                            <td><h4>No record in DB</h4></td>
                                                        </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                

                                    <div class="col-md-12 m-b-30">
                                        <h5>IN PROCESS Permits </h5>
                                        <div class="table-responsive">
                                            <table class="table align-td-middle table-card table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Permit ID</th>
                                                    <th>first name</th>
                                                    <th>last name</th>
                                                    <th>telephone</th>
                                                    <th>Service</th>
                                                    <th>Full amount</th>
                                                    <th>Deposits</th>
                                                    <th>Balance</th>
                                                    <th>Date Modified</th>
                                                    <th>Files</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% if request.user.username == "george@accessm.com" %}
                                                    
                                                    {% for pr in admin_permit %}
                                                        {% if pr.status == 'applied' %}
                                                        
                                                            <tr>
                                                                <td>
                                                                    {{pr.permit_id}}
                                                                </td>
                                                                <td>{{pr.first_name}}</td>
                                                                <td>{{pr.last_name}}</td>
                                                                <td>{{pr.phone_number}}</td>
                                                                <td>{{pr.message}}</td>
                                                                <td>{{pr.final_amount}}</td>
                                                                <td>{{pr.deposits}}</td>
                                                                <td>{{pr.balance}}</td>
                                                                <td>{{pr.date_modified}}</td>
                                                                <td>
                                                                    <a class='btn hvr-hover' href="{% url 'loan:file-details' pr.permit_id %}">Check</a>
                                                                
                                                                </td>
                                                                
                                                            </tr>
                                                        
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif request.user.username != "george@accessm.com" %}
                                                {% for pr in permits %}
                                                        {% if pr.status == 'applied' %}
                                                        
                                                            <tr>
                                                                <td>
                                                                    {{pr.permit_id}}
                                                                </td>
                                                                <td>{{pr.first_name}}</td>
                                                                <td>{{pr.last_name}}</td>
                                                                <td>{{pr.phone_number}}</td>
                                                                <td>{{pr.message}}</td>
                                                                <td>{{pr.final_amount}}</td>
                                                                <td>{{pr.deposits}}</td>
                                                                <td>{{pr.balance}}</td>
                                                                <td>{{pr.date_modified}}</td>
                                                                <td>
                                                                    <a class='btn hvr-hover' href="{% url 'loan:file-details' pr.permit_id %}">Check</a>
                                                                
                                                                </td>
                                                                
                                                            </tr>
                                                        
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                        <tr>
                                                            <td><h4>No record in DB</h4></td>
                                                        </tr>
                                                {% endif %}
                                                    </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

    {% endblock %}
