
{% load static %}

<head>
    <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <title>Money Access Uganda</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.svg' %}"/>
        <link rel="icon" href="{% static 'assets/img/logo.svg' %}" type="image/png" sizes="16x16">
        <link rel='stylesheet' href="{% static 'assets1/vendor/pace/pace.css' %}"/>
        <script src="{% static 'assets1/vendor/pace/pace.min.js' %}"></script>
        <!--vendors-->
        <link rel='stylesheet' type='text/css' href='{% static "assets1/css/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "assets1/css/bundles/28c909f8c5939b3b29991049355ad3050be56f71.css" %}'/>
        <link rel='stylesheet' href='{% static "assets1/css/bundles/dcd1663bd4b40ee5b03564aeb0245515dd3277b0.css" %}'/>
        <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600" rel="stylesheet">
        <link rel='stylesheet' href='{% static "assets1/fonts/jost/jost.css" %}'/>
        <!--Material Icons-->
        <link rel='stylesheet' type='text/css' href='{% static "assets1/fonts/materialdesignicons/materialdesignicons.min.css" %}'/>
        <!--Bootstrap + atmos Admin CSS-->
        <link rel='stylesheet' type='text/css' href='{% static "assets1/css/atmos.min.css" %}'/>
        <!-- Additional library for page -->
        <link rel='stylesheet' type='text/css' href='{% static "assets1/css/bundles/13fc3abb600e389b43865b1fa1697fc8f5ebf063.css" %}'/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
        <section class="admin-content">
                <div class=" bg-dark m-b-30 bg-stars">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 m-auto text-white p-t-40 p-b-90">
                               
                                <h1><span class="js-greeting"></span></h1>
                                <p class="opacity-75">
                                    24/7 Full system support <br>
                                </p>

                            </div>
                            <div class="col-md-4 m-auto text-white p-t-40 p-b-90">
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container pull-up">

                    <!-- // Normal content -->
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card m-b-30">
                                    <div class="card-header">
                                        <h5 class="m-b-0">
                                            Send your question
                                        </h5>
                                        <p class="m-b-0 text-muted">
                                            Standard form
                                        </p>
                                    </div>
                                    <div class="card-body ">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputEmail4">Email Address</label>
                                                    <input type="text" class="form-control" name="email" required id="inputEmail4" placeholder="Category">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4">Your Question?</label>
                                                    <textarea class="form-control" name="question"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary">Send</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 m-b-30">
                                <div class="card ">
                                    <div class="card-header">
                                        <div class="card-title">Replies</div>
                                    </div>
                                    <div class="list-group list-group-flush ">

                                        {% if all_categories %}
                                            {% for category in all_categories %}
                                                <div class="list-group-item d-flex  align-items-center">
                                                    <div class="">
                                                        <div>{{ category.category_name }}</div>
                                                    </div>
                    
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </section>


            <script src='{% static "assets1/js/bundles/9556cd6744b0b19628598270bd385082cda6a269.js" %}'></script>
<!--page specific scripts for demo-->
<script src='{% static "assets1/js/bundles/85bd871e04eb889b6141c1aba0fedfa1a2215991.js" %}'></script>
<script src='{% static "assets1/js/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js" %}'></script>
<script src='{% static "assets1/js/bundles/a5c528ebd70097577937a146c587ed9dda0f7f70.js" %}'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
